<h1><%= @place["name"] %></h1>

 <div class="row">
      <div class="col-12">
       <a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Post</a>
  </div>
  <!--
<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>
-->

<!--
<% for post in @posts %>
  <h3><%= post["title"] %></h3>
  <h4><%= post["posted_on"] %></h4>
  <p><%= post["description"] %></p>
<% end %>
-->

<div class="row">
  <% for post in @posts %>
    <div class="col-md-4 col-sm-6">
    <h3><%= post["title"] %></h3>
     <h4><%= post["posted_on"] %></h4>
     <p><%= post["description"] %></p>
    </div>
 <% end %>
</div>

    <!--
      <h4>
        <%# find user who created post %>
        <% user = User.find_by({ "id" => post["user_id"] }) %>
        <%# handle any potential bad data where the post is missing a user %>
        <% if user %>
          <%= user["first_name"] %>
        <% else %>
          anonymous
        <% end %>
      </h4>
      
      <img src="<%= post["image"] %>" class="img-fluid">
      <p><%= post["body"] %></p>
    
    </div>
  <% end %>
   -->

<p>
  <a href="/places">Back to All Places</a>
</p>