<% if @current_user%>
<h1><%= @place["name"] %></h1>
 <div class="row">
      <div class="col-12">
       <a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Post</a>
  </div>

<div class="row">
  <% for post in @posts %>
    <div class="col-md-4 col-sm-6">
      <h4>
        <%# find user who created post %>
        <% user = User.find_by({ "id" => post["user_id"] }) %>
        <%# handle any potential bad data where the post is missing a user %>
        <% if user %>
           <h3><%= post["title"] %></h3>
           <h4><%= post["posted_on"] %></h4>
             <% if post.uploaded_image.attached? %>
                <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
                <% else %>
                <img src="<%= post["image"] %>" class="img-fluid">
                <% end %>
             <p><%= post["description"] %></p>
                <%= user["username"] %>
            <% else %>
          anonymous
        <% end %>
      </h4>
      
      <img src="<%= post["image"] %>" class="img-fluid">
      <p><%= post["body"] %></p>
    
    </div>
   <% end %>
  </div>
 <% else %>
  You should <a href="/login">login</a> first.
  <% end %>
<p>
  <a href="/places">Back to All Places</a>
</p>